**/.terraform/
**/.terraform.lock.hcl
**/*.tfstate
**/*.tfstate.*
**/*.tfplan
**/crash.log
**/crash.*.log
**/override.tf
**/override.tf.json
**/*_override.tf
**/*_override.tf.json
**/env/*.tfvars
**/env/*.backend.hcl
!**/env/example.tfvars
!**/env/example.backend.hcl

**/terraform.tfvars
**/*.auto.tfvars
**/*.auto.tfvars.json

**/.env
**/.env.local

**/.idea/
**/.vscode/
**/*.swp
**/*.swo
**/*~

**/.DS_Store
**/Thumbs.db

**/target/

**/node_modules/

STEPBYSTEP.md
TERRAFORM_DEPLOY.md
